!!! 5
%html
  %head
    %title TREZOR UI
    %style(type="text/css")
      body { background: "#444"; color: "#ccc"; }
      img { border: 6px solid black; }
  %body

    %h1 TREZOR Workflows

    %ul
    - get_items().each do |x|
      %li
        %a(href="#{x[:l]}") #{x[:t]}
